<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai and Ting-Che Lin">

    <title>Portfolio Template - Contact Me Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="../resources/logo.png">
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">

    <link href="../public/css/portfolioTemplate.css" rel="stylesheet">
    
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
     <img src="../resources/logo.png" width="50px" height ="50px" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="navbar_links">
        <a class="nav-item nav-link" href="portfolioPage" style="color:black">Portfolio</a>
        <a class="nav-item nav-link" href="aboutMePage" style="color:black">About Me</a>
        <a class="nav-item nav-link" href="ContactPage" style="color:black">Contact</a>
      </div>
    </div>
  </nav>


  <div class="col-md-offset-4 col-md-8 col-xs-10 col-xs-offset-1">
              <p class="contact_title">Contact Details</p>
                <ul class="container-details">
                  <li><p><span class="glyphicon glyphicon-map-marker" style="width:50px;"></span>Contact Detail</p></li>
                  <li><p><span class="glyphicon glyphicon-envelope" style="width:50px;"></span>Contact Detail</p></li>
                  <li><p><span class="glyphicon glyphicon-phone" style="width:50px;"></span>Contact Detail</p></li>
                </ul>
            </div>
      
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-offset-3 col-md-2 text-right">
          <i class="fa fa-map-marker fa-3x"></i>
        </div>
        <div class="col-xs-8 col-md-4 text-left"
          <p>Contact Details</p>
        </div>
      </div>
        <div class="col-md-offset-3 col-md-6">
        <i class="fa fa-map-marker fa-3x col-md-2"></i>
        <p class="col-md-10">Contact Details</p>
      </div>
      <div class="col-md-offset-3 col-md-6">
        <i class="fa fa-map-marker fa-3x col-md-2"></i>
        <p class="col-md-10">Contact Details</p>
      </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/js/resize.js"></script>
</body>

</html>
